{% extends '_admin_base.html' %}
{% block admin-content %}
    <style>

    </style>
    <main role="main">
        <div><h1 style="text-align: center;padding-top: 15px;margin-bottom: 0"><b>Update Musical-Band</b></h1></div>
        <section class="panel important">


            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <table>
                        <tr>
                            <th>
                                Band Name

                            </th>
                            <td>
                                <div class="form-group">

                                    {{ form.name }}
                                    {% if form.errors %}
                                        <p>{{ form.name.errors }}</p>
                                    {% endif %}
                                </div>

                            </td>
                        </tr>

                        <tr>
                            <th>
                                Established Date

                            </th>
                            <td>
                                <div class="form-group">

                                    {{ form.established_date }}
                                    {% if form.errors %}
                                        <p>{{ form.established_date.errors }}</p>
                                    {% endif %}

                                </div>

                            </td>
                        </tr>

                        <tr>
                            <th>
                                Origin

                            </th>
                            <td>
                                <div class="form-group">

                                    {{ form.location }}
                                    {% if form.errors %}
                                        <p>{{ form.location.errors }}</p>
                                    {% endif %}
                                </div>

                            </td>
                        </tr>

                        <tr>
                            <th>
                                Description

                            </th>
                            <td>

                                <div class="form-group">


                                    {{ form.description }}
                                    {% if form.errors %}
                                        <p>{{ form.description.errors }}</p>
                                    {% endif %}
                                </div>


                            </td>
                        </tr>

                        <tr>
                            <th>
                                Cover Image

                            </th>
                            <td>
                                <div class="form-group">
                                    {{ form.cover_image }}
                                    {% if form.errors %}
                                        <p>{{ form.cover_image.errors }}</p>
                                    {% endif %}
                                </div>


                            </td>
                        </tr>


                        <input type="hidden" name="modified_by" value="{{ request.user.id }}">

                        <input type="hidden" name="modified_date" value='{% now "SHORT_DATE_FORMAT" %}'>


                    </table>
                </div>
                <div style="text-align: center">
                    <button type="submit">submit</button>
                </div>
            </form>

        </section>
    </main>


{% endblock %}
