{% extends '_admin_base.html' %}
{% block admin-content %}
    <div class="container">
        <div class="row">
            <div class="text-center">
            <h1>Your Musical-Band Lists</h1>
            </div>
{% for album in added_album%}
            <div class="col-md-12">
                <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object dp img-circle"
                             src="{{album.image.url  }}"
                             style="width: 150px;height:150px;">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading"><b>{{ album.name }} <small> ({{ album.released.year }})</small></b></h4>
                        <h5>by {{ album.musical_band.name }} <small>({{ album.musical_band.established_date.year }})</small></h5>
                        <hr style="margin:8px auto">
                        <br>
                        <a href="{% url 'bands:albums_detail' album.slug %}"><span class="label label-danger">View Detail</span></a>
                        <a href="{% url 'customadmin:album_update_view' album.slug %}"><span class="label label-default">Update</span></a>
                        <a href="#"><span class="label label-success">View Bandmembers</span></a>
                        <a href="#"><span class="label label-warning">Delete</span></a>
                    </div>
                </div>

            </div>
            {% endfor %}



        </div>
    </div>
{% endblock %}