{% load static %}
<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Band of Nepal</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>



    <link rel="stylesheet" href="{% static 'css/banner.css' %}">
    <link rel="stylesheet" href="{% static 'css/band-detail.css' %}">

    <script src="{% static 'js/band-detail.js' %}"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

</head>
<div class="container-fluid bg-dark text-warning">
    <div class="row p-lg-3">
        <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="pl-lg-5">Nepali Musical Band</h2></div>
        {#        <div class="col-lg-6 col-md-6 col-sm-6 ">#}
        {#            <form class="form-inline my-2 my-lg-0 float-right pr-lg-3 p-1">#}
        {#                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">#}
        {#                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>#}
        {#            </form>#}
        {#        </div>#}

    </div>
    <hr class="bg-light m-0 ">
    <div class="row pl-lg-5">
        <div class="col-lg-9 col-md-8 col-sm-6 p-0 m-0">
            <nav class="navbar navbar-expand-lg navbar-light ">
                <div class="collapse navbar-collapse " id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="{% url 'bands:home' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="{% url 'bands:band_list' %}">Musical Bands</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link text-white" href="{% url 'bands:album_list' %}">Albums</a>
                        </li>

                    </ul>

                </div>

            </nav>
        </div>

        <div class="col-lg-3 col-md-4 col-sm-6">


            <nav class="navbar navbar-expand-lg navbar-light float-right ">

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link text-white" href="#">LOGIN <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white" href="#">REGISTER</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>


    </div>
</div>


<body>
{% block content %}
{% endblock %}

</body>

<!-- Footer -->
<footer class="page-footer font-small blue bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->

</html>