{% extends '_base.html' %}
{% block content %}
    <section class="pt-3">
        <div class="container">
            <div class="container-fluid bg-dark text-warning">
                <div class="row p-lg-3">
                    <div class="col-lg-6 col-md-6 col-sm-6"><h2 class="pl-lg-5">ALL BANDMEMBERS</h2></div>

                </div>
            </div>


            <div class="row">
                {% for bm in musicalband.bandmember_set.all %}


                    <div class="col-xs-11 col-sm-5 col-md-3 mb-4">

                        <div class="card">
                            <img class="card-img-top"
                                 src="{{ bm.profile_pic.url }}" height="180px">
                            <div class="card-body">
                                <h5 class="card-title">
                                    {{ bm.first_name }} {{ bm.middle_name }}{{ bm.last_name }}</h5><br>
                                {% if bm.dob != Null %}
                                    <small class="text-muted">Date of birth:{{ bm.dob }}</small><br>
                                    {% else %}
                                        <small class="text-muted"> Date of birth:Not mentioned</small>
                                   <br>{% endif %}
                                <small class="text-muted">Role:
                                    {% for role in bm.role.all %}{{ role.title }},{% endfor %}</small><br>
                                <small class="text-muted">Band Joined: {{ bm.joined_date }}</small><br>
                                <small class="text-muted">Status:
                                    {% if bm.status == True %}<p style="color:green">ACTIVE</p>{% else %}<p style="color: red">INACTIVE</p>{% endif %}
                                </small><br>

                            </div>
                        </div>


                    </div>

                {% endfor %}

            </div>


        </div>
        <div class="container">
            <div class="row">
                <div class=" offset-lg-5">
                    {% include 'partials/pagination.html' %}
                </div>
            </div>
        </div>
    </section>
{% endblock %}


