{% extends '_base.html' %}
{% block content %}



    <div class="card bg-dark text-white container-fluid">
        <img class="card-img "
             src="{{ musicalband.cover_image.url }}" height="300px">
    </div>


    <div class="card-body ">
        <div class="jumbotron pt-lg-3">
            <h3 class="card-title">About Band</h3>


            <hr>
            <div class="row">
                <div class="col-8 text-justify">
                    <p> {{ musicalband.description | linebreaks }}</p>
                </div>
                <div class="col-4">
                    <div class="card mr-3">
                        <div class="card-header bg-dark text-white">
                            More Albums
                        </div>
                        <div class="card-body">
                            <ul class="list-group list-group-flush">

                                <li class="list-group-item">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="row"><p> Estd :
                                                <small>{{ musicalband.established_date.year }}</small></p></div>
                                            <div class="row"><p> Origin :<small>{{ musicalband.location }}</small>
                                            </p></div>
                                            <div class="row"><p> Members:</p>
                                                <ul>

                                                    {#                                                    {% for bm in bandmembers %}#}
                                                    {% for bm in musicalband.bandmember_set.all %}

                                                        <li>
                                                            <small>{{ bm.first_name }} {{ bm.middle_name }} {{ bm.last_name }}</small>
                                                        </li>
                                                    {% endfor %}
                                                </ul>
                                            </div>

                                        </div>
                                        <div class="col-3">
                                            <img class="card-img-top"
                                                 src="{{ alu.image.url }}">
                                        </div>
                                    </div>
                                </li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="card-body ">
        <div class="jumbotron pt-lg-3 mt-0">


            <section id="team" class="pb-5">
                <div class="container">
                    <h5 class="section-title h1">Active Band members</h5>
                    <div class="row">
                        <!-- Team member -->
                        {#                        {% for member in bandmembers %}#}
                        {% for member in musicalband.bandmember_set.all %}

                            {% if member.status == True %}

                                <div class="col-xs-12 col-sm-6 col-md-4">
                                    <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
                                        <div class="mainflip">
                                            <div class="frontside">
                                                <div class="card">
                                                    <div class="card-body text-center">
                                                        <p><img class=" img-fluid"
                                                                src="{{ member.profile_pic.url }}"
                                                                alt="card image"></p>
                                                        <h4 class="card-title">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</h4>
                                                        <small class="text-muted">Role:
                                                            {% for role in member.role.all %}{{ role.title }}
                                                                ,{% endfor %}</small><br>
                                                        <small class="text-muted">Band
                                                            Joined: {{ member.joined_date }}</small>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="backside">
                                                <div class="card">
                                                    <div class="card-body text-center mt-4">
                                                        <h4 class="card-title">{{ member.first_name }} {{ member.middle_name }} {{ member.last_name }}</h4>

                                                        {% if member.dob != Null %}
                                                            <small class="text-muted">Date of birth:{{ member.dob }}
                                                            </small><br>{% endif %}
                                                        <small class="text-muted">{{ member.description }}
                                                        </small>
                                                        <ul class="list-inline">
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank"
                                                                   href="#">
                                                                    <i class="fa fa-facebook"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank"
                                                                   href="#">
                                                                    <i class="fa fa-twitter"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank"
                                                                   href="#">
                                                                    <i class="fa fa-skype"></i>
                                                                </a>
                                                            </li>
                                                            <li class="list-inline-item">
                                                                <a class="social-icon text-xs-center" target="_blank"
                                                                   href="#">
                                                                    <i class="fa fa-google"></i>
                                                                </a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        .
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}

                        <!-- ./Team member -->


                    </div>
                </div>
            </section>
            <div class="text-center">
                <button><a href="{% url 'bands:band_members' musicalband.slug %}" style="text-decoration: none">View all member</a></button>

            </div>


        </div>
    </div>


    <div class="card-body ">
        <div class="jumbotron pt-lg-3 mt-0">


            <div class="container">


                <div class="row ">
                    <div>
                        <h2>Released Albums</h2>
                        <hr class="bg-primary">

                    </div>
                </div>

                <div class="row mt-2">

                    {% for album in musicalband.album_set.all %}
                        <div class="col-xs-11 col-sm-5 col-md-3 mb-4">
                            <div class="card">
                                <img class="card-img-top"
                                     src="{{ album.image.url }}" height="180px">
                                <div class="card-body">
                                    <h5 class="card-title">{{ album.name }}</h5>
                                    <p class="card-text"><small>by {{ album.musical_band.name }}</small></p>
                                    <p class="card-text"><small class="text-muted">Released
                                        : {{ album.released }}</small>
                                    </p>
                                </div>
                            </div>

                        </div>

                    {% endfor %}
                </div>
                <!---end latest Album--->


            </div>
        </div>

    </div>

{% endblock %}