{% load static %}
<!DOCTYPE html>


<head>
    <meta charset="UTF-8">
    <title>Admin Dashboard</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/bandmember_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/musicalband_list.css' %}">
    <link rel="stylesheet" href="{% static 'css/deletepage.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>

    <!-- Fengyuan Chen's Datepicker -->

</head>


<header role="banner">
    <h1>Admin Panel</h1>
    <ul class="utilities">
        <li><a href="{% url 'bands:home' %}">Home</a></li>
        <li class="users"><a href="#">Welcome {{ request.user }}</a></li>
        <li class="logout warn " style="color: red"><a href="{% url 'account_logout' %}">Log Out</a></li>
    </ul>
</header>

<nav role="navigation">
    <ul class="main">
        <li class="dashboard"><a href="#">Dashboard</a></li>
        <li class="write"><a href="{% url 'customadmin:musical_band_create' %}">Add Musical Band</a></li>
        <li class="write"><a href="{% url 'customadmin:album_create' %}">Add Album</a></li>
        <li class="write"><a href="{% url 'customadmin:band_member_create' %}">Add Bandmember</a></li>
        <li class="write"><a href="{% url 'customadmin:add_song' %}">Add Songs</a></li>
        <li class="View"><a href="{% url 'customadmin:musical_band_added_list' %}"> Band Created</a></li>
        <li class="View"><a href="{% url 'customadmin:added_bandmember_list' %}"> Bandmember Created</a></li>
        <li class="View"><a href="{% url 'customadmin:album_added_list' %}"> Album Added</a></li>
        <li class="glyphicon-eye-close"><a href="{% url 'customadmin:added_song_list' %}"> Song Added</a></li>
    </ul>
</nav>
{% block admin-content %}
{% endblock %}

<footer role="contentinfo">Easy Admin Style by Melissa Cabral</footer>
</html>